.projects {
    background-color: var(--color-light-background);
    width: 100%;
    padding: 50px 0;
}

.projects .title {
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    text-transform: uppercase;
    font-size: clamp(1rem, 1.4vw, 1.5rem);
}

.projects .title h2 {
    color: var(--color-dark-background);
}

.project-card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-card__info span {
    color: var(--color-dark-background);
}

.project-card__info .project-card__title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.project-card__info .project-card__type {
    font-size: 14px;
}

.projects .projects__action {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

.projects .projects__action button {
    background-color: var(--color-dark-background);
    color: var(--color-light-background);
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
}

.projects .projects__action button:hover {
    background-color: var(--color-hover);
}

.projects .card-component__info {
    color: var(--color-dark-background);
}

.projects .card-component__type {
    color: rgba(17, 17, 17, 0.64);
}

.projects .card-component {
    background-color: var(--color-light-background);
}
