.projects {
    background-color: var(--color-light-background);
    width: 100%;
    padding: 50px 0;
}

.projects .title {
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    text-transform: uppercase;
    font-size: clamp(1rem, 1.4vw, 1.5rem);
}

.projects .title h2 {
    color: var(--color-dark-background);
    text-align: start;
}

.project-card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.project-card__info span {
    color: var(--color-dark-background);
}

.project-card__info .project-card__title {
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}

.project-card__info .project-card__type {
    font-size: 14px;
}

.projects .projects__action {
    display: flex;
    justify-content: flex-start;
    margin-top: 50px;
}

.projects .projects__action a {
    background-color: var(--color-dark-background);
    color: var(--color-light-background);
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
}

.projects .projects__action a:hover {
    background-color: var(--color-hover);
}

.projects .card-component__info {
    color: var(--color-dark-background);
}

.projects .card-component__type {
    color: rgba(17, 17, 17, 0.64);
}

.projects .card-component {
    background-color: var(--color-light-background);
}

.project-card__link {
    display: block;
    text-decoration: none;
    cursor: pointer;
}

.project-detail__carousel {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.project-detail__carousel .carousel-inner,
.project-detail__carousel .carousel-item {
    height: 100%;
}

.project-detail__carousel .carousel-item img,
.project-detail__image {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 8px;
}

.project-detail__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.project-detail__info .title {
    margin:0;
}

.project-detail__info .title h2 {
    margin: 0;
}

.project-detail__type {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(17, 17, 17, 0.72);
    display: flex;
    justify-content: flex-start;
}

.project-detail__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-detail__description {
    margin: 0;
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--color-dark-background);
    display: flex;
    justify-content: flex-start;
}

.project-detail__description p {
    text-align: start;
}

.project-detail__info a {
    background-color: var(--color-dark-background);
    color: var(--color-light-background);
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    width: 270px;
    height: 47px;
}

@media (max-width: 600px) {
    .project-detail__carousel .carousel-item img,
    .project-detail__image {
        height: 300px;
    }
}
