.about {
    width: 100%;
    background-color: var(--color-light-background);
}

.about .title {
    display: flex;
    width: 100%;
    margin-top: 50px;
    text-transform: uppercase;
    font-size: clamp(1rem, 1.4vw, 1.5rem);
}

.about .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    font-size: clamp(0.9rem, 1.2vw, 1.2rem);
    line-height: 1.5;
}

.about .description .flex {
    display: flex;
    flex-direction: column;
}

.highlight {
    font-weight: bold;
}

.about .description .flex span {
    margin-top: 5px;
    text-align: start;
    
}

.about .about__cards {
    margin: 50px 0;
}

.about .card {
    border: 1px solid var(--color-border);
    height: 150px;
    padding: 20px 0;
}

.about .card h3 {
    font-size: clamp(1rem, 1.2vw, 1.2rem);
    text-transform: uppercase;
    text-align: start;
    margin: 0;
    padding: 0 20px;
}

.about .card p {
    font-size: clamp(0.8rem, 1vw, 1rem);
    text-align: start;
    color: var(--color-dark-background);
    margin: 0;
    font-weight: 100;
    margin-top: 15px;
    padding: 0 20px;
}

@media (max-width: 1100px) and (min-width: 900px) {
    .about .card {
        height: auto;
        padding: 20px;
    }

    .about .card h3 {
        font-size: clamp(0.9rem, 1.2vw, 1.1rem);
        padding: 0;
    }

    .about .card p {
        font-size: clamp(0.7rem, 1vw, 0.9rem);
        padding: 0;
    }
}